button {
    margin: 0 4px;
}

button:first-child {
    margin-left:16px;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 4px 0;
}



li span.compDisplay{
    text-decoration: line-through;
    color: #ccc;
}

